@import url('https://fonts.googleapis.com/css2?family=Itim&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Rowdies:wght@300;400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/d/d1/Online_meeting_animation.gif');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}

/* menu */
.sidenav{
    display: none;
}
.respon{
    display: none;
}
header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
.logo{
    margin-top: .5%;
    margin-left: 3%;
}
.logo span{
    font-size: 50px;
    padding-left: 10px;  
    font-family: "Playwrite GB S", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal; 
}
.logo img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
nav{
    margin-top: 2%;
    margin-right: 4%;
    display: block;
}
nav a{
    text-decoration: none;
    color: #fff;
    padding-right: 20px;
}

/* main */
main{
    width: 100%;
    height: 500px;
    /* margin-top: -6%; */
}
aside{
    width: 20%;
    float: left;
    display: flex;
    flex-direction: column;
}
aside img{
    width: 100px;
    height: 100px;
    margin-top: 5%;
    margin-left: 10%;
}


/* section */
section{
    width: 70%;
    margin-top: 3%;
}
section .float_img{
    float: left;
    padding-right: 5px;
}

section .details{
    width: 90%;
    margin-top: 17%;
    text-align: justify;
}
.details p{
    margin-top: 3%;
}


/* aside1 */
.aside1{
    width: 20%;
    float: right;
    margin-top: -30%;
    margin-right: -7%;
    /* background-color: #fff; */
}
.aside1 img{
    width: 40px;
    height: 40px;
}
.aside1 a{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    margin-bottom: 10%;
    transition: all ease-in-out .8s;
}
.aside1 a:hover{
    font-size: 20px;
    text-decoration: underline rgb(20, 220, 180);

}
/* footer */
footer{
    margin-top: .8%;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}
footer b{
    float: right;
    margin-top: -3%;
    margin-right: 3%;
    font-size: 20px;
    font-weight: normal;
}




/* content one */
.section{
    width: 70%;
    margin-top: 3%;
    float: right;
}
.float_imgs{
    columns: none;
}
.detail{
    margin-top: 5%;
}
.aside{
    width: 20%;
    float: left;
}
.aside img{
    width: 60px;
    height: 60px;
}
.aside a{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    margin-bottom: 10%;
    transition: all ease-in-out .8s;
}
.aside a:hover{
    font-size: 20px;
    text-decoration: underline rgb(20, 220, 180);

}
/* end */

/* content_two_ul */
.content_two_ul li a{
    font-size: 15px;
}
.content_two_ul li a:hover{
    font-size: 10px;
}
.content_two_ul li a img{
    width: 30px;
    height: 30px;
}


.yt{
    position: absolute;
    top: 70%;
    left: 4%;
}